PORT=3333
NODE_ENV=development
DATABASE_URL=mysql://gira:gira123@localhost:3306/gira
SESSION_SECRET=super-secret-session-key
DEFAULT_LANGUAGE=pt-BR
HOST=localhost:3333
PUBLIC_PATH=./output
CORS_ORIGIN=http://localhost:5173,http://localhost:3001
